<template name="Documents">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-5 col-md-offset-5 col-sm-offset-5 ">
  {{#PageHeader title="Документи"}}
    &nbsp;
    {{#linkTo route='createDocument'}}
        <button class="btn btn-success  btn-fab btn-raised mdi-social-plus-one "></button>
    {{/linkTo}}
  {{/PageHeader}}
 </div>
    <div class="row">
      {{#each documents}}
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            {{> DocumentItem}}
          </div>
      {{/ each}}
    </div>
  <button class="btn btn-primary" id="job-list">Додати документ на полі</button>
</template>