<template name="JobList">
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-ship"></i>
    <p class="desc">Культивація</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-spinner"></i>
    <p class="desc">Оприскування</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-road"></i>
    <p class="desc">Оранка</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-truck"></i>
    <p class="desc">Обробка</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-shopping-cart"></i>
    <p class="desc">Збір урожаю</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-cog"></i>
    <p class="desc">Сортування</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-th"></i>
    <p class="desc">Пакування</p>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 icon">
    <i class="fa fa-square-o"></i>
    <p class="desc">...</p>
  </div>
</template>